<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipe.name}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addToshopingList()" style="cursor: pointer"> To shoping list</a></li>
                <li><a (click)="onEditRecipe()" style="cursor: pointer">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()" style="cursor: pointer">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{ recipe.description }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group list-group-horizontal-bg" *ngFor="let gredient of recipe.ingredients">
            <div class="list-group-item">
                <p>{{ gredient.name }} - {{ gredient.amount }}</p>
            </div>
        </div>
    </div>
</div>